body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #EBEBEB; /* Changed background colour to meet WCAG guidelines, with a ratio of 17.61:1 */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

nav ul li {
  flex: 1;
  text-align: center;
}

nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

footer {
  padding: 2rem 0;
}

div.skip-links a:visited { /* Changes the visited states of the skip-links div to inherit the black colour since the "visited" state is irrelevant for the skip links since they just jump to the top of the page. */
  color: inherit;
}

a:hover { /* Adds a color and underline to indicate hover state of a link */
  background-color: lightgreen;
  text-decoration-line: underline;
}


a:focus { /* Adds a color and border to indicate focus state of a link */
  border: black solid 2px;
  background-color: lightblue ;
}